{% include '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<title>Wildnotes | Password Reset Confirm</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="rounded border border-secondary p-2 mt-4">
          <h5 class="text-center text-warning my-4">Wildnotes | Password Reset Confirm</h5>
          <hr>
        <form action="" method="post">
          {% csrf_token %}
          <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
          {{form | crispy}}
          <button type="submit" class="mb-4 btn btn-warning">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>
{% endblock %}